@media (min-width: 749px) {
    /*.has-top-logo {
        margin-left: calc(50vw - 22rem);
    }
    .has-my-account {
        margin-right: calc(50vw - 20rem);
    }*/
    .top-nav {
        justify-content: flex-start;
        gap: 1rem;
        padding-left: 3rem;
        /*padding-left: calc(50vw - 20rem);*/
    }
    /*footer {
        padding-left: calc(50vw - 20rem);
    }*/
}
@media (min-width: 1100px /*970px*/) {
    .has-top-logo {
        margin-left: calc(50vw - 31rem);
    }
    .has-my-account {
        margin-right: calc(50vw - 30rem);
    }
    .top-nav {
        justify-content: flex-start;
        gap: 1rem;
        padding-left: calc(50vw - 30rem);
    }
    footer {
        padding-left: calc(50vw - 30rem);
    }
}

