@media (min-width: 749px) {
    /*.has-top-logo {
        margin-left: calc(50vw - 22rem);
    }
    .has-my-account {
        margin-right: calc(50vw - 20rem);
    }*/
    .top-nav {
        justify-content: flex-start;
        gap: 1rem;
        /*padding-left: calc(50vw - 20rem);*/
    }
    /*footer {
        padding-left: calc(50vw - 20rem);
    }*/
}
@media (min-width: 1100px /*970px*/) {
    .has-top-logo {
        margin-left: calc(50vw - 31rem);
    }
    .has-my-account {
        margin-right: calc(50vw - 30rem);
    }
    .search-bar {
        justify-content: right;
        gap: 1rem;
        width: auto;
        margin-left: calc(50vw + 6.2rem);
    }
    .search-bar-form {
        padding-left: 3rem;
    }
    .has-search-close-icon {
        padding-right: 3rem;
    }
    /*.search-bar-form {
        padding-left: calc(50vw - 30rem);
    }
    .has-search-close-icon {
        padding-right: calc(50vw - 29rem);
    }*/
    .top-nav {
        justify-content: flex-start;
        gap: 1rem;
        padding-left: calc(50vw - 30rem);
    }
    .has-lcp::before {
        background-image: url("/pastpc/images/site/2048LCP43Top.webp");
    }
    .device-display {
        padding-left: calc(50vw - 30rem);
        padding-right: calc(50vw - 30rem);
        margin-bottom: 6rem;
    }
    .classification-results-p {
        padding-left: calc(50vw - 30rem);
    }
    .device-display li {
        max-height: 21rem;
        padding-bottom: 3rem;
    }
    .device-display img {
        max-width: 15rem;
    }
    .listing-title {
        max-width: 40rem;
    }
    .device-detail-main {
        padding-left: calc(50vw - 31rem);
        padding-right: calc(50vw - 29rem);
    }
    .detail-grid {
        display: flex;
        flex-direction: row;
    }
    .has-detail-main-img {
        height: auto;
        width: 25rem;
    }
    .has-reviews .blue-form {
        padding-left: 2rem;
    }
    .reviews-h2 {
        padding-left: 2rem;
    }
    footer {
        padding-left: calc(50vw - 30rem);
    }
}

