/*483px*/

@media (min-width: 620px) {
    /*body {
        padding: 0;
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        background-image: url("/pastpc/images/site/BlueMesh.svg");
    }*/
    /*.has-header {
        border-radius: 10px;
        border-top: 5px solid white;
    }*/
    /*
    .body-div {
        /*background-color: white;*/
        /*border-radius: 10px;
        border: 5px solid var(--mblue);
    }
    */
    .has-top-logo {
        margin-left: 2rem;
    }
    .has-my-account {
        margin-right: 2rem;
    }
    .search-bar {
        justify-content: right;
        gap: 1rem;
        width: auto;
        margin-left: calc(100vw - 25.8rem);
    }
    .search-bar-form {
        padding-left: 3rem;
    }
    .has-search-close-icon {
        padding-right: 3rem;
    }
    .slideout-menu-open {
        display: block;
        transition: transform .5s, opacity .2s;
        transform: translateX(calc(100vw - 25rem));
        opacity: 1;
    }
    /*.menu-nav-devices {
        display: none;
    }*/
    .top-nav {
        padding-left: 3rem;
        gap: 1rem;
    }
    .top-nav li {
        display: inline;
    }
    .has-lcp::before {
        background-image: url("/pastpc/images/site/LCPTop.webp");
    }
    .cover-lcp {
        margin-left: calc(50vw - 10rem);
    }
    .login-cover-lcp {
        margin-left: auto;
    }
    
    /*.cover-lcp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }*/
    .find-a-pc {
        max-width: 20rem;
    }
    .device-display {
        padding-left: 3rem;
        padding-right: 1.6rem;
    }
    .classification-results-p {
        margin-top: 2rem;
        margin-bottom: 0rem;
        padding-left: 3rem;
    }
    .listing-title {
        -webkit-line-clamp: 2;
    }
    .device-detail-main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .has-detail-main-img {
        height: 25rem;
    }
    footer {
        padding-left: 3rem;
    }
    /*footer {
        border-radius: 10px;
        border-bottom: 5px solid var(--dgray);  
    }*/

    /*.top-nav {
        justify-content: flex-start;
        gap: 1rem;
        padding-left: 1rem;
    }
    .cover-delorean {
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .cover-delorean > p:first-child {
        font-size: 1.3rem;
    }
    .own-today {
        display: none;
    }
    .own-today-medium {
        display: block;
        height: 2.5rem;
        margin-top: 1rem;
    }
    .has-ru {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "u r";
        gap: 2rem;
        margin-left: 2rem;
    }
    .r-section {
        grid-area: r;
    }
    .u-section {
        grid-area: u;
    }
    .reviews > li {
        font-size: .9rem;
    }
    .reviews > li:first-child {
        margin-top: 2rem;
    }
    #device-display {
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    #device-display h2 {
        font-size: 1rem;
    }
    #device-display li {
        max-width: 200px;
        flex: 1 0 auto;
        text-align: center;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #device-display div {
        width: 100%;
    }
    .detail-display {
        display: grid;
        gap: 1rem;
    }
    .detail-display > img {
        grid-row: 1;
        max-width: 500px;
        max-height: 500px;
    }
    .detail-info {
        grid-row: 2;
    }
    .device-detail-main {
        display: grid;
        grid-template-columns: 200px 1fr;
    }
    .thumbnail-display {
        grid-row: 1;
    }
    footer > p {
        font-size: .7rem;
    }
    */
}